.mobile-menu-container {
    display: flex;
    position: relative;
    top: 8px;
    display: none;
}

.mobile-menu {
    position: relative;
}

.mobile-menu ul {
    position: absolute;
    top: 15px;
    right: -25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 180px;
    padding: 10px;
    list-style-type: none;
    background-color: var(--mobile-menu-color);
    border-radius: 3px;
    display: none;
    animation: fadeIn 0.4s ease-out;
}

.mobile-menu ul::after{
    content: "";
    position: absolute;
    top: -18px;
    right: 25px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--mobile-menu-color) transparent;
}

.mobile-menu ul li {
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    padding: 10px 0;
}

.mobile-menu ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.mobile-menu ul li:first-child {
    padding-top: 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: inherit;
}

.mobile-menu ul li:hover  {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: color-mix(in srgb, var(--primary-color) 30%, transparent);
    background-clip: text; 
    color: transparent;
    
}

.mobile-menu ul li:hover a {
    padding-left: 15px;
    transition: all 0.5s ease;
}

.mobile-menu:hover ul{
    display: flex;
}

@media (max-width: 768px) {
    .mobile-menu-container {
        display: flex;
    }

    .mobile-menu ul {
        top: 25px;
        right: -10px;
    }

    .mobile-menu ul::after  {
        right: 10px;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}