:root {
  --gradient-color: linear-gradient(141deg,rgba(7, 118, 140, 1) 0%, rgba(20, 193, 227, 0.97) 21%, rgba(7, 123, 146, 1) 62%, rgba(20, 193, 227, 1) 99%);
  --secondary-color: #00CFFF;
  --background-color: #000;
  --text-color: #fff;
  --mobile-menu-color: #202337;
}

[data-theme="dark"] {
  --gradient-color: linear-gradient(141deg,rgba(7, 118, 140, 1) 0%, rgba(20, 193, 227, 0.97) 21%, rgba(7, 123, 146, 1) 62%, rgba(20, 193, 227, 1) 99%);
  --secondary-color: #00CFFF;
  --background-color: #000;
  --text-color: #fff;
  --mobile-menu-color: #202337;
}

[data-theme="light"] {
  --gradient-color: linear-gradient(141deg,rgba(7, 118, 140, 1) 0%, rgba(20, 193, 227, 0.97) 21%, rgba(7, 123, 146, 1) 62%, rgba(20, 193, 227, 1) 99%);
  --secondary-color: #00CFFF;
  --background-color: #fff;
  --text-color: #000;
  --mobile-menu-color: #202337;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

  .main-container {
    position: relative;
    z-index: 1;
    color: var(--text-color);
    padding: 0 6vw;
    margin: 0;
}


@media (max-width: 1024px) {

}

@media (max-width: 480px) {

}

@media (max-width: 768px) {

}