.logo-container {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--gradient-color);
    background-clip: text; 
    color: transparent;
    font-size: 25px;
}