.home {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
  }
  
  .home-content h1 {
    font-size: 3.4rem;
    margin-bottom: 20px;
  }
  
  .home-content h1 span {
    background: var(--gradient-color);
    background: var(--gradient-color);
    background-clip: text;           
    color: transparent;     
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent; 
  }

  .home-content p {
    font-size: 1.3rem;
    max-width: 750px;
  }
  
  .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .btn {
    display: inline-block;
    margin: 0 10px;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    background: var(--gradient-color);
    color: var(--background-color);
  }
  
  .btn:hover {
    opacity: 0.85;
  }
  
  .btn.secondary {
    background: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
  }
  
  .btn.secondary:hover {
    background: var(--gradient-color);
    color: var(--background-color);
  }
  
  .react-typewriter-text {
    display: flex;
    justify-content: center;
    height: 38px;
  }

  @media (max-width: 480px) {
    .buttons {
      flex-direction: column;
      row-gap: 20px;
    }

    .home {
      margin-top: 0px;
    }

    .home-content h1 {
      font-size: 3rem;
    }

    .home-content p {
      font-size: 1.1rem;
      max-width: 750px;
    }

  }