.menu-links {
  display: flex;
}

.menu-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 1rem; 
  }
  
  .menu-links a {
    text-decoration: none; 
    color: inherit; 
  }
  
  .menu-links a:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--gradient-color);
    background-clip: text; 
    color: transparent;
  }


  .menu-links svg {
    position: relative;
    top: 3px;
    margin-left: 20px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .menu-links {
        display: none;
    }
}